mesh_navigation_tutorials_sim/models/uneven_terrain
mesh_navigation_tutorials/maps/uneven_terrain.h5
mesh_navigation_tutorials/maps/uneven_terrain.ply
mesh_navigation_tutorials_sim/worlds/uneven_terrain.sdf


mesh_navigation_tutorials_sim/models/uneven_terrain_big
mesh_navigation_tutorials/maps/uneven_terrain_big.h5
mesh_navigation_tutorials/maps/uneven_terrain_big.ply
mesh_navigation_tutorials_sim/worlds/uneven_terrain_big.sdf